<!DOCTYPE html>
<html lang="en">
	<head>
		<% include ../partials/head %>
	</head>


	<body class="container">

		<header>
			<% include ../partials/header %>
		</header>

		<main>
			<h1>JS Cyclomatic Complexity Calculator</h1>
			<p>The library used to calculate the cyclomatic complexity is quite picky about what JS files are passed to it, so some repositories may not work too well.</p>
			<p>But here are some that are known to work</p>
			<ul>
				<li>Repo Owner: <strong>scotch-io</strong>, Repo Name: <strong>node-todo</strong></li>
				<li>Repo Owner: <strong>mljs</strong>, Repo Name: <strong>feedforward-neural-networks</strong></li>
			</ul>
			<form action="/api/complexity" method="post">
				<div class="form-group">
					<label class="col-form-label" for="owner">Owner</label>
					<input class="form-control"  type="text" name="repoOwner" id="repoOwner" placeholder="stefano-lupo">
				</div>
				<div class="form-group">
					<label class="col-form-label" for="owner">Repo Name</label>
					<input class="form-control"  type="text" name="repoName" id="repoName" placeholder="DFS-File-System">
				</div>
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>

			<br><br>
			<h2>Available Workers</h2>
			<table class="table table-bordered">
				<thead>
				<tr>
					<th>#</th>
					<th>Worker</th>
					<th>Online</th>
				</tr>
				</thead>
				<tbody>
				<% for(let i=0; i<workers.length;i++) { %>
				<tr>
					<td><%= i+1 %></td>
					<td><%= workers[i].machine %></td>
					<td><span style="color: <%= workers[i].online ? "green" : "red"%>"><%= workers[i].online %></span></td>
				</tr>
				<% } %>
				</tbody>
			</table>
		</main>

		<footer>
			<% include ../partials/footer %>
		</footer>
	</body>
</html>