<!DOCTYPE html>
<html lang="en">
	<head>
		<% include ../partials/head %>
	</head>


	<body class="container">

		<header>
			<% include ../partials/header %>
		</header>

		<main>
			<h1>Cyclomatic Complexity Calculator</h1>

			<form action="/api/complexity" method="post">
				<div class="form-group">
					<label class="col-form-label" for="owner">Owner</label>
					<input class="form-control"  type="text" name="repoOwner" id="repoOwner" placeholder="stefano-lupo">
				</div>
				<div class="form-group">
					<label class="col-form-label" for="owner">Repo Name</label>
					<input class="form-control"  type="text" name="repoName" id="repoName" placeholder="DFS-File-System">
				</div>
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>

			<br><br>
			<h2>Available Workers</h2>
			<table class="table table-bordered">
				<thead>
				<tr>
					<th>#</th>
					<th>Worker</th>
					<th>Online</th>
				</tr>
				</thead>
				<tbody>
				<% for(let i=0; i<workers.length;i++) { %>
				<tr>
					<td><%= i+1 %></td>
					<td><%= workers[i].machine %></td>
					<td><span style="color: <%= workers[i].online ? "green" : "red"%>"><%= workers[i].online %></span></td>
				</tr>
				<% } %>
				</tbody>
			</table>
		</main>

		<footer>
			<% include ../partials/footer %>
		</footer>
	</body>
</html>